<template>
    <div class="container">
        <div class="alert alert-danger" v-if="error">
            {{ error }}
        </div>
        <div class="row row-margin">
            <div class="col-md-12">
                <post-form @save="savePost" @reset="editedPost = null" :edited-post="editedPost"
                           :groups="groups"></post-form>
            </div>
        </div>
        <div class="row row-margin">
            <div class="col-md-8">
                <h4>Posts</h4>
            </div>
            <div class="col-md-4">
                <div class="btn-group float-right">
                    <a class="btn btn-dark" href="/api/posts/export" download="">Export</a>
                    <button class="btn btn-info" type="button" @click="getPosts">Reload</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center row-margin" v-for="post in posts">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">{{ post.title }}
                        <div class="author">
                            by {{ post.user ? post.user.name : 'Unknown' }}
                            in {{ post.user_group ? post.user_group.name : 'Public' }}
                            &nbsp;&nbsp;
                            <div class="btn-group btn-group-sm">
                                <button role="button" class="btn btn-sm btn-light" @click="editPost(post)">Edit</button>
                                <button role="button" class="btn btn-sm btn-danger" @click="deletePost(post)">Delete
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import PostForm from "./post-form";

export default {
    components: {PostForm},
    data() {
        return {
            posts: [],
            groups: [],
            editedPost: null,
            error: null
        }
    },
    methods: {
        getGroups() {
            this.error = null
            this.$axios.get('/user-groups').then(response => {
                this.groups = response.data
            }).catch(error => {
                this.error = error
            })
        },
        getPosts() {
            this.error = null
            this.$axios.get('/posts').then(response => {
                this.posts = response.data
            }).catch(error => {
                this.error = error
            })
        },
        editPost(post) {
            this.editedPost = post
            window.scrollTo(0, 0)
        },
        deletePost(post) {
            this.error = null
            this.$axios.delete(`/posts/${post.id}`).then(response => {
                this.posts = this.posts.filter(p => p.id !== post.id)
            }).catch(error => {
                this.error = error
            })
        },
        savePost(post) {
            this.error = null
            this.editedPost = null
            if (post.id) {
                this.$axios.put(`/posts/${post.id}`, post).then(response => {
                    let index = this.posts.findIndex(p => p.id === post.id)
                    if (index !== -1) {
                        this.posts[index] = response.data
                    }
                }).catch(error => {
                    this.error = error
                })
            } else {
                this.$axios.post('/posts', post).then(response => {
                    this.posts = [response.data].concat(this.posts)
                }).catch(error => {
                    this.error = error
                })
            }
        }
    },
    mounted() {
        this.getGroups()
        this.getPosts()
    }
}
</script>

<style scoped>
.row-margin {
    margin-bottom: 20px;
}

.author {
    color: #4e555b;
    font-style: italic;
    text-align: right;
    float: right;
}
</style>
