<template>
    <div class="card">
        <div class="card-header">{{ id ? 'Update post' : 'Create post' }}</div>
        <div class="card-body">
            <form @submit.prevent="save">
                <div class="form-group">
                    <label for="group">Group</label>
                    <select id="group" v-model="user_group_id" class="form-control">
                        <option v-for="group in groups" :value="group.id">{{ group.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input v-model="title" id="title" type="text" class="form-control" placeholder="Title"/>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea v-model="content" id="content" class="form-control" placeholder="Content"/>
                </div>
                <div class="form-group">
                    <div class="btn-group float-right">
                        <button type="button" class="btn btn-light" @click="reset">Cancel</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: "post-form",
    props: {
        groups: {
            type: Array,
            default: () => []
        },
        editedPost: {
            type: Object,
            default: null
        }
    },
    data() {
        return {
            id: null,
            title: '',
            content: '',
            user_group_id: null
        }
    },
    watch: {
        editedPost() {
            if (!this.editedPost) {
                this.reset()
            } else {
                this.id = this.editedPost.id
                this.title = this.editedPost.title
                this.content = this.editedPost.content
                this.user_group_id = this.editedPost.user_group_id
            }
        }
    },
    methods: {
        reset() {
            this.id = null
            this.title = ''
            this.content = ''
            this.group = null
            this.$emit('reset')
        },
        save() {
            this.$emit('save', {
                id: this.id,
                user_group_id: this.user_group_id,
                title: this.title,
                content: this.content
            })
            this.reset()
        }
    },
    mounted() {
        this.reset()
    }
}
</script>

<style scoped>

</style>
